<div class="transaction panel">
  <span class="icon" [class.positive]="incoming" [class.negative]="!incoming" aria-hidden="true">
    <mat-icon>{{ icon }}</mat-icon>
  </span>

  <span class="info">
    <span class="label">{{ label }}</span>
    <span class="description">{{ description }}</span>
  </span>

  <span class="when">
    <span>{{ transaction.timestamp | date: 'dd/MM/yyyy' }}</span>
    <span class="time">{{ transaction.timestamp | date: 'HH:mm' }}</span>
  </span>

  <span class="amount" [class.positive]="incoming" [class.negative]="!incoming">{{ amount }}</span>
</div>
