.spacer {
  flex: 1 1 auto;
}

.customer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.customer-info-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transactions-card {
  margin-top: 20px;
}

.title{
 color: #888;
}

.back-button{
  margin-bottom: 10px;
  &:hover {
    background-color: #7b1fa2 !important;
  }
}


.header-filter-form{
display: flex;
justify-content: space-between;
align-items: center;
}

.filter-form{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
  align-items: baseline;
}

