<div class="div-header">
  <mat-card-header class="card-header">
    <mat-card-title>Clientes</mat-card-title>
  </mat-card-header>
  <button mat-flat-button class="add-button" (click)="openRegisterModal()">
    <mat-icon>add</mat-icon>
    Cadastrar
  </button>
</div>

<div class="div-content">
  <div class="search-filter">
    <app-search-filter  (searchChanged)="onSearchChanged($event)"></app-search-filter>
  </div>

  <div  *ngIf="!isLoading">
    <mat-card class="container">
      <span>Nome</span>
      <span class="applyTooltip">Email</span>
      <span>Banco/Agencia</span>
      <span>N° Conta</span>
    </mat-card>
    <div *ngFor="let customer of visibleCustomers" class="customer-card ">
      <mat-card class="container clickable-card"  (click)="viewCustomerDetails(customer.id!)">
        <span>{{ customer.name }}</span>
        <span [matTooltip]="applyTooltip ? customer.email : '' " matTooltipPosition="below" class="applyTooltip"> {{ customer.email }}</span>
        <span class="transaction-details">
          <span>{{ customer.bankName }}</span>
          <!-- <span class="arrow">↓</span> -->
          <span>{{ customer.branch }}</span>
        </span>
        <span >{{ formatNumberWithHyphen(customer.accountNumber) }}</span>
      </mat-card>
    </div>
      <mat-paginator
      style="margin-top: 10px;"
      [length]="totalElements"
      [pageSize]="size"
      [pageIndex]="page"
      [pageSizeOptions]="[5, 10]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

<app-loading-skeleton
  [isLoading]="isLoading"
  [loadingMessage]="loadingMessage"
  [count]="6"
  appearance="line"
  [theme]="{ 'background-color': '#777', height: '20px', 'margin-bottom': '10px' }">
</app-loading-skeleton>
