.div-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header{
  font-size: xx-large;
  font-weight: 500;
}

.add-button{
  background-color: #008080 !important;
}

.add-button-menu{
  background-color: #008080 !important;
}

.mat-mdc-button, .mdc-button__label, .mat-mdc-unelevated-button, .mdc-button__label{
  font-size: smaller !important;
}

.div-content{
  margin-top: 50px;
}


.mat-column-actions {
  width: 20px;
  text-align: right;
}

.mat-mdc-cell{
 color:  #f1f1f1;
}

.search-filter{
  margin-bottom: 10px;
}


// card styles

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.transaction-details span {
  margin: 0 10px;
}

.transaction-type {
  font-weight: bold;
}

.transaction-amount {
  font-weight: bold;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  padding: 20px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-items: center;
  align-items: center;

  span{
    font-size: small;
  }
}

.transaction-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.arrow {
  font-size: 20px;
  margin: 5px 0;
}


.clickable-card{
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.clickable-card:hover {
  background-color: #666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .applyTooltip {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 560px) {
  .applyTooltip {
    display: none;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
