<div class="div-header">
  <mat-card-header class="card-header">
    <mat-card-title>Clientes</mat-card-title>
  </mat-card-header>
  <button mat-flat-button class="add-button" (click)="openRegisterModal()">
    <mat-icon>add</mat-icon>
    Cadastrar
  </button>
</div>

<div class="div-content">
  <div class="search-filter">
    <app-search-filter  (searchChanged)="onSearchChanged($event)"></app-search-filter>
  </div>

  <mat-card class="container">
    <span>Nome</span>
    <span>Email</span>
    <span>Banco/Agencia</span>
    <span>N° Conta</span>
  </mat-card>
  <div *ngFor="let customer of customers" class="customer-card ">
    <mat-card class="container clickable-card"  (click)="viewCustomerDetails(customer.id!)">
      <span>{{ customer.name }}</span>
      <span > {{ customer.email }}</span>
      <span class="transaction-details">
        <span>{{ customer.bankName }}</span>
        <!-- <span class="arrow">↓</span> -->
        <span>{{ customer.branch }}</span>
      </span>
      <span >{{ formatNumberWithHyphen(customer.accountNumber) }}</span>
    </mat-card>
  </div>
    <mat-paginator
    style="margin-top: 10px;"
    [length]="totalElements"
    [pageSize]="size"
    [pageSizeOptions]="[5, 10]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
