.toolbar-spacer {
  flex: 1 1 auto;
}

.drawer{
  width: 250px;
  padding-top: 25px;
}

.content{
  min-height: calc(100vh - 104px);
  box-shadow: none;
  padding: 20px 50px;
  max-width: 1280px;

}

